.add {
  background: linear-gradient(-76deg, #6dffc6, #3fd2ce);
  padding: 100px 0 0 0;
  height: 510px;
}
.add h2 {
  font-family: 'Roboto Regular', Arial, sans-serif;
  font-size: 25px;
  color: #fff;
  margin-top: 90px;
}
.add p {
  color: #fff;
  font-size: 13px;
  font-family: 'Roboto Regular', Arial, sans-serif;
}
.add h3 {
  font-size: 15px;
  font-family: 'Roboto Medium', Arial, sans-serif;
  padding: 15px 0 25px;
}
.add img {
  margin: 0 auto;
  display: block;
}
@media (max-width: 768px) {
  .add {
    text-align: center;
    height: auto;
    padding-bottom: 50px;
  }
}
