.browser-add {
  text-align: center;
  background: linear-gradient(to bottom, #ff6c54, #ff2b59);
  padding: 50px 0;
  max-height: 680px;
}
.browser-add h2 {
  font-size: 40px;
  color: #fff;
  font-family: 'Roboto Light', Arial, sans-serif;
  padding: 80px 0 40px;
}
.browser-add p {
  color: #fff;
  font-size: 13px;
}
.browser-add img {
  top: 3px;
  position: relative;
  margin-top: 120px;
  padding-bottom: 0;
  max-width: 100%;
  height: auto;
}
