.contact-us {
  text-align: center;
  background: linear-gradient(to bottom, #ff6c54, #ff2b59);
  padding: 0 0 90px 0 ;
  min-height: 680px;
}
.contact-us h2 {
  font-size: 40px;
  color: #fff;
  font-family: 'Roboto Light', Arial, sans-serif;
  padding: 80px 0 40px;
}
.contact-us p {
  color: #fff;
  font-size: 13px;
}
.contact-us__input {
  width: 100%;
  background: none;
  border: 1px solid #fff;
  padding: 10px;
  color: #fff;
  margin-top: 100px;
}
.contact-us__input::placeholder {
  color: #fff;
}
.contact-us a {
  display: block;
  margin: 30px 0 0 0;
  width: 100%;
  padding: 15px 10px;
  background-color: #233537;
  color: #fff;
  font-size: 15px;
  font-family: 'Roboto Regular', Arial, sans-serif;
  text-decoration: none;
}
