.map {
  position: relative;
}
.map__adress {
  position: absolute;
  top: 30%;
  right: 5%;
  width: 370px;
  height: 175px;
  background-color: #56e8ca;
  color: #fff;
  padding-left: 75px;
}
.map__adress h4 {
  margin-top: 35px;
  text-align: left;
}
.map iframe {
  border: 0;
  width: 100%;
  height: 400px;
}
