.tabs__content {
  display: none;
  /* по умолчанию прячем все блоки */
  margin-top: 50px;
}
.active {
  color: #fff!important;
}
.tabs__content.active {
  display: block;
  /* по умолчанию показываем нужный блок */
}
.portfolio {
  text-align: center;
  background: linear-gradient(to bottom, #6dffc6, #3fd2ce);
  padding: 50px 0;
}
.portfolio h2 {
  font-size: 40px;
  color: #fff;
  font-family: 'Roboto Light', Arial, sans-serif;
  padding: 80px 0 40px;
}
.portfolio p {
  color: #fff;
  font-size: 13px;
}
.portfolio .tabs__caption {
  margin: 100px auto 0;
  width: 60%;
  justify-content: space-around;
  display: flex;
}
.portfolio .tabs__caption li {
  cursor: pointer;
  text-transform: uppercase;
  color: #3f4244;
  font-size: 15px;
  font-family: 'Roboto Medium', Arial, sans-serif;
}
.portfolio__blocks {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  min-height: 300px;
  text-align: center;
}
.portfolio__blocks img {
  display: block;
  margin: 0 auto;
  padding: 0 auto;
}
.portfolio__block {
  display: none;
  text-align: center;
  background-color: #fff;
  width: 320px;
  margin: 20px;
  height: 360px;
}
.portfolio__block .img {
  width: 100%;
  height: 240px;
  background-color: #232e3d;
}
.portfolio__block h3 {
  padding: 20px;
  font-family: 'Roboto Medium', Arial, sans-serif;
  font-size: 15px;
  color: #3f4244;
}
.portfolio__block p {
  font-family: 'Roboto Regular', Arial, sans-serif;
  color: #929ba0;
  font-size: 13px;
  padding: 15px 30px;
}
.show-more__block {
  width: 100%;
}
