.quote {
  background: linear-gradient(to bottom, #ff6c54, #ff2b59);
}
.slider {
  width: 100%;
  padding: 70px 0;
  text-align: center;
}
.slider .slide {
  width: 100%;
  display: none;
}
.slider .slide h2 {
  font-size: 20pt;
  font-family: "Roboto Regular", Arial, sans-serif;
  color: #fff;
  padding: 10px;
}
.slider .slide h3 {
  padding: 10px 0 40px 0;
  font-size: 13pt;
  font-family: "Roboto Regular", Arial, sans-serif;
  color: #fff;
}
.slider .slide:first-child {
  display: block;
}
.slide_nav {
  height: 30px;
  width: 30px;
  margin: 0 20px;
  cursor: pointer;
}
